/* #particles {
  position: relative;
}

.logo-container > img {
  width: 10em;
  height: 5em;
}
.play-store > img {
  height: 5em;
}
.content {
  position: absolute;
  left: 50%;
  top: 10%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-container {
  height: 93vh;
  position: relative;
}
.container {
  margin: 0;
  position: absolute;
  padding: 0.5em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: yellow; */
  border-radius: 1em;
  z-index: 2;
  font-family: "Fredoka One", cursive;
  height: 400px;
}
.logo-container > img {
  width: 10em;
  height: 10em;
}
.play-store > a > img {
  height: 5em;
}
.play-store {
  padding-top: 3em;
}
.footer {
  text-align: center;
  font-weight: bold;
}
